.home-page-top{
  height:100%;

  /* width: 60%; */
  width:100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
/* justify-content: baseline; */
justify-content: center;
   align-items: center;
  flex-wrap:wrap;
padding-top: 0px;
  /* height: 90%; */
  
}
.home-page{
  margin-left:auto;
  margin-right:auto;
  flex-wrap: wrap;
  width:80%;
  display:flex;
  justify-content: center;
  align-items:center;
  color:blue;
}
.home-page *{
  font-size: 50px;
  /* font-weight: 900; */
  
}

.home-left {
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* margin-right: 100px; */
  text-align: left;
}

.home-right{
    margin-top:300px;
    display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;

} 
.home-bottom{
  margin-top:200px;
}



.underline{
  text-decoration: underline;
  text-align: center;

}
.home-left p{
  margin-top: 0px;
  text-align:left;
}


  
@media only screen and (min-width: 768px) {
  .home-page *{
    color:red;
    display: flex;
    flex-direction: row;
    
  }
}
