*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;

  text-align:center;
font-size:50px;

  color:seagreen;
  

  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  *{
    font-size:20px;
  }
}

#root{
  
  height: 100%;
}
a:hover{
  color:#F15152;
}

.App{
  height:100%;
  margin-top: 0;
  padding:0px;

  margin-bottom:0;

}

body{
  background:#EDB183;
  margin:0px;
  padding:0px;
  height:100%;
  width:100%;
}

html{
  padding-top: 0px;
  
  height:100%;
  width: 100%;
  
}