*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;

  text-align:center;

  
  /* background:#F15152; */

  color:#3A2E39;
  text-decoration: none;
}

a:hover{
  color:#F15152;
}

.App{
  padding:0px;
  height:100%;
  background: #EDB183;
  
    margin-bottom:none;

}

body{
  margin:0px;
  padding:0px;
  height:100%;
  width:100%;
}

html{
  padding-top: 0px;
  
  height:100%;
  widows: 100%;
  background: #EDB183;
}