*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;

  text-align:center;

  
  /* background:#F15152; */

  color:#3A2E39;
  text-decoration: none;
}

a:hover{
  color:#F15152;
}

.App{
  margin-top: 0;
  padding:0px;
  
  /* background: #EDB183; */
  /* background:blue; */
  
  
    margin-bottom:0;

}

body{
  background:#EDB183;
  margin:0px;
  padding:0px;
  height:100%;
  width:100%;
}

html{
  padding-top: 0px;
  
  height:100%;
  width: 100%;
  
}