.all-notes {
  font-family: "Coda Caption", sans-serif;
  border: 2px solid #7cb317;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: #f4d8cd;
  border: 5px solid #f4d8cd;
  /* box-shadow: 4px 5px 7px 5px black; */
  box-shadow: 3px 3px 3px 3px gray;
  margin-bottom: 50px;
  border-radius: 130px;
  width: 40%;
}
.fa-plus-square{
  margin-right:10px;
}

.fa-trash-alt{
  margin-right:10px;
}
.all-topics {
  padding: 30px;
  padding-right:100px;
  background: #f4d8cd;
  font-family: "Coda Caption", sans-serif;
  border: 5px solid #f4d8cd;
  box-shadow: 2px 2px 5px 5px gray;
  /* width: 45%; */
  width:70vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* #root{
  border: 4px solid red;
  height:100vh;
} */

.topics-heading {
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-family: "Coda Caption", sans-serif;
  color: #1e555c;
}


.note-form {
  background: #f4d8cd;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 200px;
  box-shadow: 2px 2px 5px 5px gray;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:30px;
  /* width: 50%; */
  /* margin-top: 50px; */
  text-align: center;
  padding: 30px;

  height: 80vh;
  width:70vw;
}

@media(min-width:768px){
  .note-form {
    
  
    height: 70%;
    width:50%;
  }
}

/* 
.note-form input,
select{
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  border-radius: 30px;
   border: 2px solid #1e555c; 
  
  margin-top: 30px;
  margin-top: 30px;
  width: 200px;
  text-align: center;
  
} */

#note-label {
  text-align: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
/* .note-form textarea {
  height: 200px;
  width: 400px;
} */

.visit-url {
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  width:40%;
  overflow-wrap: break-word;
  /* text-align: center; */
}
.list-contents {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
/* .list-contents p{
  margin-left:auto;
  margin-right:auto;
  text-align: center;
} */

a {
  width: 70%;
}

.delete {
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  background: #f15152;
  /* border: white; */
}

.submit-topic-btn{
  width:100px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
}

.note-select{
  
}