.all-notes {
  font-family: "Coda Caption", sans-serif;
  border: 2px solid #7cb317;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background:#F4D8CD;
  border: 5px solid #F4D8CD;
  box-shadow: 4px 5px 7px 5px black;
  margin-bottom: 50px;
  border-radius:130px;
  width: 40%;
}

.all-topics {
  background:#F4D8CD;
  font-family: "Coda Caption", sans-serif;
  border: 5px solid #F4D8CD;
  box-shadow: 4px 5px 7px 5px black;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:30px;
  border-radius:130px;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;

}

.submit-form label{
  font-weight:400;
  
}


.topics-heading {
  font-weight: 400;
  margin-left:auto;
  margin-right:auto;
  width:80%;
  font-family: "Coda Caption", sans-serif;
  color: #1E555C;
}
.note-form {
  background:#F4D8CD;
   display:flex; 
  flex-direction:column;
    align-content: center;
    justify-content: center; 
  border: 2px solid white;
  border-radius: 50px;
  box-shadow: 10px 18px 14px 8px black;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 50px;
  text-align: center;
  padding: 30px;
}

.note-form input,
select,
textarea {
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  border-radius: 30px;
  border: 2px solid #1E555C;
  margin-top: 30px;
  margin-top: 30px;
  width: 200px;
  text-align: center;
}

#note-label{
  text-align:center;
  width:200px;
  margin-left:auto;
  margin-right:auto;
}
.note-form textarea{
height:200px;
width:400px;
}

.list-contents{
  width:60%;
  margin-left:auto;
  margin-right:auto;
}

 a {
   width:70%;
 }

 .delete{
   margin-top:20px;
   margin-bottom:10px;
   background:#F15152;
   border:white;
 
}
 .delete{

  color:white;
 }